*.*
*/
*.meta
!.gitignore
!Asset*
!*.sln
!*.userpref
!PluginProject*
!ProjectSetting*
!*/*
!*/*/*
!*/*/*/*
!*/*/*/*/*
!*/*/*/*/*/*
!*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

